:root {
    --high0: #005550;
    --high5: #008880;
    --high10: #00bba0;
}

nav {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: var(--high0);
    padding: 5px;
    margin: 0px;
}

nav > button {
    font-size: 24px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: var(--high5);
    border: var(--high10) solid 2px;
    border-radius: 10px;
    box-sizing: border-box;
}

nav > gap {
    flex-grow: 1;
}

main {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-top: 60px;
}

html {
    background-color: var(--high10);
}