:root {
    --high0: #005550;
    --high5: #00a080;
    --high10: #00e0c0;
}

img {
    box-sizing: border-box;
    width: 100%;
    border: var(--high0) solid 5px;
    border-radius: 20px;
}

main {
    padding: 4vw;
}

main > section {
    border: var(--high0) solid 5px;
    margin-bottom: 6vw;
    border-radius: 20px;
    background-color: var(--high5);
}

section > section {
    box-sizing: border-box;
    width: 100%;
    padding: 2vw;
}

article {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
}

article > h1 {
    margin: 0;
}

article > p {
    font-size: 24px;
}

@media screen and (min-width: 731px) {

    main {
        padding: 0;
    }

    main > section {
        display: flex;
        border: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    section > section {
        width: 60%;
        padding: 2vw;
    }

    img {
        width: 100%;
        background-color: var(--high5);
        border: var(--high0) solid 5px;
        border-radius: 20px;
    }
    
    article {
        box-sizing: border-box;
        background-color: var(--high10);
        width: 40%;
        padding: 20px;
        padding-top: calc(2vw + 20px);
        border-left: var(--high0) solid 5px;
    }

}