:root {
    --high0: #005550;
    --high5: #00a080;
    --high10: #00e0c0;
}

main {
    margin-top: 20vh;
}

.name {
    text-align: center;
    font-size: 96px;
}

.quote {
    text-align: center;
    font-size: 36px;
}