:root {
    --high0: #005550;
    --high5: #00a080;
    --high10: #00e0c0;
}

main {
    box-sizing: border-box;
    height: calc(100vh);
    background-color: var(--high10);
    margin: 0px;
    padding: 20px;
}

.name {
    padding-top: 20%;
    text-align: center;
    font-size: 96px;
}

.quote {
    text-align: center;
    font-size: 36px;
}