main {
    box-sizing: border-box;
    height: calc(100vh - 70px);
    background-color: aquamarine;
    margin: 0px;
    padding: 20px;
}

.name {
    padding-top: 20%;
    text-align: center;
    font-size: 96px;
}

.quote {
    text-align: center;
    font-size: 36px;
}